:root {
    --color-main-text: #212121;
    --color-secondary-text: #757575;
    --accent: #2196f3;
    --main-bg-cl: #e5e5e5;
    --secondary-bg-cl: #2f303a;

    /** animation **/
    --fast-anim: 250ms ease-in-out;
  }
     