


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  padding: 48px 20px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  transform: translateY(100%);
  background-color: #ffff;
  transition: transform 250ms ease-in-out;
  @media screen and(min-width: 480px) {
    padding: 48px 40px;
  }
  @media screen and(min-width: 768px) {
    display: none;
  }
}



.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__item {
  
    @include fonts (500, 49px, 47px, 0.02em, center);

    color: var(--color-main-text);

    transition: var(--fast-anim);
  
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }


.mobile-menu__link {
    color: var(--color-secondary-text);
    &:hover,
    &:focus {
      color: var(--accent);
    }
    &--active-page {
      color: var(--accent);
    }
  }


.mobile-contacts {
 
    :first-child {
      padding: 8px 0;
      margin-bottom: 15px;
      @include fonts (500, 26px, 28px, 0.02em, center);
      @media screen and(min-width: 480px) {
        margin-bottom: 40px;
      }
    }
  }


.mobile-contacts__item {
 
    :last-child {
      padding: 8px 0;
      margin-bottom: 20px;
    @include fonts (500, 49px, 47px, 0.02em, center);

      @media screen and(min-width: 480px) {
        margin-bottom: 64px;
      }
    }
  }


.mobile-contacts__link { 
    :hover,
    :focus {
      color: var(--accent);
    }
  }


.mobile-contacts__list {
   position: relative;
    display: flex;
    justify-content: space-between;

    @media screen and(min-width: 480px) {
      width: 353px;
    }
  }


.mobile-contacts__link { 
    display: block;
    font-weight: 500;
font-size: 18px;
line-height: 22px;

    padding: 10px 0;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }


.pseudo {
  &:not(:first-child) {
    &::after {
      @media screen and(min-width: 480px) {
        content: "";
        position: absolute;
        height: 16px;
        bottom: 57px;
        border: 1px solid getColor-text("pseudo");
        margin-left: -20px;
      }
    }
  }
}
