.clients  {
   
    @include mq(tablet) {
      display: flex;
      
    
  }
}
.clients__title {

    @include fonts (700, 36px, 42px, 0.03em, center);


    color: var(--color-main-text);
    text-transform: none;
    align-items: center;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    display: block;
 
}

/** .clients__list {

  @include mq(mobile) {
    display: flex;
    flex-wrap: wrap;
  
  }

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
  
  @include mq(desktop) {
  display: flex;
  flex-wrap: nowrap;
  }
}



.clients__item {

  flex-basis: calc(100% / 6 - 30px);

  @include mq(desktop) {
  &:not(:last-child) {
    margin-right: 30px;
}
  }

  @include mq(tablet-only) {
    width: calc((100% - 1 * 30px) / 2);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
&:not(:last-child) {
  margin-bottom: 30px;
}
}


@include mq(mobile-only) {
  margin-left: -30px;
  margin-bottom: -30px;
  flex-basis: calc(100% / 2 - 30px);
}
}
**/
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 92px;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition: var(--fast-anim);

  @include mq(desktop) {
    width: 170px;
  height: 92px;
  }
  
  color: #AFB1B8;

  &:hover {
    color: var(--accent);
    background-color: #FFFFFF;
    border-color: 1px solid var(--accent);
    border-radius: 4px;
    border-color: var(--accent);
    fill: var(--accent);
  }
  &:focus {
    color: var(--accent);
    border-color: var(--accent);
    fill: var(--accent);
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: -30px;
  justify-content: center;

  @media screen and (min-width:320px) {
    margin-left: -15px;
  }

  @media screen and (min-width:480px) {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.clients__item {


  @media screen and (min-width:320px) {
    margin-left: 15px;
    margin-bottom: 15px;
    flex-basis: calc(100% / 2 - 15px);
  }

  @media screen and (min-width:480px) {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width:768px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}