.hero {
    background-color: var(--secondary-bg-cl);
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
  }
    
    .hero__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
  .hero__title {
    
    @include fonts (900, 44px, 1.36, 0.06em, center);

    text-transform: uppercase;
    color: #ffffff;

    margin-top: 0px;
    margin-bottom: 30px;

  }
