.hero {
    background-color: var(--secondary-bg-cl);
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    background-size: cover;

   /* max-width: 1600px; */
 
    background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-s.png);

    @include mq(retina) {
      background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-s@2x.png);
    }

    @include mq(tablet) {
      background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-m.png);
    }

    @include mq(retina) {
      background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-m@2x.png);
    }

    @include mq(desktop)  {
      background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-l.png);
    }

    @include mq(retina) {
      background-image: linear-gradient(to right rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-l@2x.png);
    }


    

    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
  }
    
    .hero__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
  .hero__title {
    
    @include fonts (900, 44px, 1.36, 0.06em, center);

    text-transform: uppercase;
    color: #ffffff;

    margin-top: 0px;
    margin-bottom: 30px;


    @media screen and(min-width:480px) {
      @include fonts (900, 26px, 42px, 0.06em, null);
      width: 360px;
    }

    @media screen and(min-width:1200px) {
      @include fonts (900, 44px, 60px, 0.06em, null);
      width: 696px;
    }
  }
